In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('icao-with-country-names.csv')

In [3]:
def from_icao_code(code):
    return df[df.apply(lambda x: x['icao'] == code, axis=1)]

In [4]:
df.head()

,country_code,region_name,iata,icao,airport,latitude,longitude,country
0,AE,Ash Shariqah,SHJ,OMSJ,Sharjah International Airport,25.328600,55.51720047,United Arab Emirates
1,AE,Abu Zaby,AZI,OMAD,Al Bateen Executive Airport,24.428301,54.45809937,United Arab Emirates
2,AE,Al Fujayrah,FJR,OMFJ,Fujairah International Airport,25.112200,56.32400131,United Arab Emirates
3,AE,Abu Zaby,XSB,OMBY,Sir Bani Yas Airport,24.283611,52.580278,United Arab Emirates
4,AE,Ra's al Khaymah,RKT,OMRK,Ras Al Khaimah International Airport,25.613501,55.93880081,United Arab Emirates

In [5]:
from_icao_code('OMSJ')

,country_code,region_name,iata,icao,airport,latitude,longitude,country
0,AE,Ash Shariqah,SHJ,OMSJ,Sharjah International Airport,25.3286,55.51720047,United Arab Emirates